@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

:root {
    --primary-color: #222;
    --border-color: #DADFE1;
    --gray-color: #f6f6f6;
    --red-color: #ea7366;
    --yellow-color: #ffcc70;
    --purple-color: #7c8ef4;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
}

section {
    padding: 20px 0;
}

/* Typography */
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0.5rem 0;
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.75rem;
}

h5 {
    font-size: 1.5rem;
}

h6 {
    font-size: 1.25rem;
}

p {
    margin: .5rem 0;
}

mark {
    background-color: var(--yellow-color);
    display: inline-block;
    padding: 3px 6px;
}

/* Links */
a {
    color: var(--primary-color);
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    opacity: .9;
    text-decoration: underline;
}

/* Form */
form > div {
    margin-top: 15px;
    margin-bottom: 15px;
}

/* Inputs */
input[type=text],
input[type=email],
input[type=password],
input[type=number],
input[type=date],
input[type=datetime-local],
input[type=time],
input[type=color],
textarea,
select {
    background: #FFFFFF;
    border: 1px solid var(--border-color);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 1rem;
    margin: .5rem 0;
    outline-color: var(--primary-color);
    padding: 14px;
    width: 100%;
}

select {
    border: 0;
    border-right: 16px solid transparent;
    cursor: pointer;
    outline: 1px solid var(--border-color);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-image: url("https://cdn3.iconfinder.com/data/icons/user-interface-169/32/chevron-bottom-512.png");
    background-repeat: no-repeat;
    background-position: right center;
    background-size: 20px;
}

select:focus {
    outline: 2px solid var(--primary-color);
}

input[type=color] {
    cursor: pointer;
    height: 53px;
    padding: 5px;
}

textarea {
    resize: vertical;
}

/* Buttons */
button,
input[type=button],
input[type=submit],
input[type=reset] {
    background-color: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    font-size: 1rem;
    padding: 16px 32px;
    width: 100%;
}

button:hover,
input[type=button]:hover,
input[type=submit]:hover,
input[type=reset]:hover {
    opacity: .9;
}

/* Lists */
ul,
ol {
    padding-left: 1rem;
}

/* Radio and Checkbox */
input[type=radio],
input[type=checkbox] {
    display: none;
}

input[type=radio]+span,
input[type=checkbox]+span {
    display: inline-block;
    margin: 5px 0;
    padding-left: 30px;
    position: relative;
}

input[type=radio]+span:before,
input[type=checkbox]+span:before {
    background: #fff;
    border: 1px solid #ccc;
    content: '';
    height: 16px;
    left: 0;
    margin-right: 5px;
    position: absolute;
    top: 0;
    width: 16px;
}

input[type=radio]+span:after,
input[type=checkbox]+span:after {
    background: var(--primary-color);
    content: '';
    height: 12px;
    left: 3px;
    position: absolute;
    top: 3px;
    transform: scale(0, 0);
    transition: all 0.2s cubic-bezier(0.64, 0.57, 0.67, 1.53);
    width: 12px;
}

input[type=radio]:checked+span:after,
input[type=checkbox]:checked+span:after {
    transform: scale(1, 1);
}

input[type=radio]+span:before,
input[type=radio]+span:after {
    border-radius: 50%;
}

/* Range */
input[type=range] {
    margin: .5rem 0;
    height: 30px;
    width: 100%;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #FFFFFF;
    border: 1px solid #DADFE1;
    border-radius: 5px;
    cursor: pointer;
    height: 10px;
    width: 100%;
}

input[type=range]::-webkit-slider-thumb {
    background: var(--primary-color);
    border: 1px solid var(--primary-color);
    border-radius: 50px;
    cursor: pointer;
    margin-top: -6px;
    height: 20px;
    width: 20px;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #FFFFFF;
}

input[type=range]::-moz-range-track {
    background: #FFFFFF;
    border-radius: 5px;
    border: 1px solid #DADFE1;
    cursor: pointer;
    height: 10px;
    width: 100%;
}

input[type=range]::-moz-range-thumb {
    background: #3fc380;
    border: 1px solid #3FC380;
    border-radius: 50px;
    cursor: pointer;
    height: 20px;
    width: 20px;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    color: transparent;
    cursor: pointer;
    height: 10px;
    width: 100%;
}

input[type=range]::-ms-thumb {
    border-radius: 50px;
    background: #3fc380;
    border: 1px solid #3FC380;
    cursor: pointer;
    height: 20px;
    margin-top: 1px;
    width: 20px;
}

input[type=range]:focus::-ms-fill-lower,
input[type=range]:focus::-ms-fill-upper {
    background: #FFFFFF;
}

/* File upload */
input[type=file] {
    background: #fff;
    color: #444;
    margin: .5rem 0;
    max-width: 100%;
}

input[type=file]::file-selector-button {
    background: var(--primary-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    margin-right: 10px;
    padding: 14px 28px;
    transition: background .2s ease-in-out;
}

input[type=file]::file-selector-button:hover {
    opacity: .9;
}

/* Table */
table {
    border-collapse: collapse;
    width: 100%;
}

th,
td {
    border: 1px solid var(--border-color);
    padding: 12px;
    text-align: left;
}

th {
    font-weight: 700;
    background-color: var(--gray-color);
}

tr:nth-child(even) {
    background-color: var(--gray-color);
}

/* Image */
img {
    max-width: 100%;
}

/* Article */
article {
    border: 1px solid var(--border-color);
    border-radius: 5px;
}

article img {
    max-height: 300px;
    min-width: 100%;
    object-fit: cover;
}

article h3 {
    padding: 20px;
}

article p {
    padding: 0 20px 20px 20px;
}

article footer {
    background-color: var(--gray-color);
    padding: 20px;
}